button:hover {
    transform: scale(1.1);
}
/* rotate () girar Elementos*/
/*45deg: gira 45º
180deg: vira (fica de ponta cabeça)
360deg: volta ao estado origenal*/

img{
 max-width: 200px;
}

img:hover{
    max-width: 200px;
    transform: rotate(15deg);
}
/* CSS*/
div { 
    transform: skew(10deg);
}