 body {
        background-color: #92caf5;
        font-family: "Arial";
        color: #867142;
        padding: 20px;
      }
      h1 {
        color: #867142;
      }
      ul {
        background-color: hsl(0, 0%, 100%);
        border-radius: 8px;
      }